*.o
src/rx_test
src/rx
build/rx
build/rx_test
build/bash_color_test
build/cppRxTestResults.xml
src/Makefile
src/Makefile.in

# autotool auto gerenerated files
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
src/.deps/*
stamp-h1
missing
m4
null.d
.vscode

#automake: Makefile.am: required file ./NEWS
#automake: Makefile.am: required file ./README
#automake: Makefile.am: installing ./COPYING
#automake: Makefile.am: required file ./AUTHORS


