aclocal.m4
AUTHORS
/autom4te.cache
/build-aux
ChangeLog
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
/.deps
/.github
/m4
Makefile.in
missing
NEWS
README
README.md
stamp-h1

src/.deps/
src/.dirstamp
src/main.o
src/rx
src/rx.o
src/rx_test
src/rx_test.o

ChangeLog
