.deps
*.jpg
*.la
*.lo
*.o
*.pc
*.so
*.swp
*~
.libs

# not sure
#/config.log
#/config.mk
#/depcomp
#/install-sh
#/libtool
#/ltmain.sh
#/missing
#/stamp-h1

# bkp
/aclocal.m4
src/autom4te.cache
/autom4te.cache
/config.guess
/config.h
# /config.h.in
# src/config.h.in
config.h.in
/config.sub
/config.status
/configure
/Makefile.in
src/Makefile.in
Makefile
src/Makefile

# bkp not sure
#build-aux/
#compile
#m4/
#INSTALL

script/?
script/.data/**

cppRxTestResults.xml
src/rx_test
src/rx
build/rx
build/rx_test




